// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel .item {
  height: 300px;
}

.item img {

  top: 0;
  left: 0;
  min-height: 300px;
  width: 80%;
}